body {
    height:105vh;
}

.cadre {
    margin: 20px auto;
    padding-right:30px;
    padding-top:20px;
    padding-bottom: 50px;
}

.scrollable-table {
    overflow-y:scroll;
}
/* width */
.scrollable-table::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .scrollable-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .scrollable-table::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

#table_adm {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 20px;
}

#table_adm > thead {
    border-bottom: 3px solid black;
    color:rgb(206, 140, 41);
    font-weight: bold;
    height:50px;
}

.table_header {
    font-weight: bold;
}

td {
    height:40px
}

.cadre_header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px
}

.drop_form {
    height: 35px;
    margin-top: 20px;
    border: 3px solid #B1740F;
}

#inscription_select {
    width: 97px
}

#search_filter_form {
    width: 128px;
}

.lab_in_txt{
    height: 20px;
    width: 160px;
    margin-left: 10px;
    /* border-top: 0px; */
    /* border-left:0px ; */
    /* border-right:0px ; */
}

._btn {
    margin-left: 10px;
    background-color: rgb(84, 169, 84);
    border-radius: 20px;
}

._btn:not(:disabled) {
    cursor:pointer
}

.valider_btn {
    border-color: #cbcbcb;
    color: white;
    padding: 6px 30px 3px;
    background-color: rgb(84, 169, 84);
}

.valider_btn:disabled {
    background-color:rgb(160 216 160);
}


.search_btn {
    border-color: #858585;
    color: #595959;
    padding: 6px 10px 3px;
    background-color: rgb(239 239 239);
}

.cadre {
    background-color: rgb(234 234 255 / 83%);
    width:1200px;
}

.adm_btns {
    margin: auto 20px 0;
}

.adm_btns button {
    margin: 0 20px 0 0;
    padding: 6px 30px 3px;
    font-weight:bold;
}

.add_btn {
    border-color: #cbcbcb;
    color:  #494949;
    background-color: rgb(143 207 143);
}

.reset_btn {
    border-color: #cbcbcb;
    color: #5b5b5b;
    background-color: rgb(255 183 183);

}