

.carousel-slider * {
    touch-action: manipulation;
}

.carousel-slider {
    position: relative;
    /* background: #fff; */
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.carousel-slider > .carousel-content {
    position: relative;
    -webkit-display: inline-flex;
    -moz-display: inline-flex;
    -ms-display: inline-flex;
    -o-display: inline-flex;
    display: inline-flex;
    user-select: none;
}

.carousel-slider > .carousel-content > .slide-item {
    /* background: white; */
  padding-bottom: 35px;
}

.carousel-slider .carousel-next-btn,
.carousel-slider .carousel-prev-btn {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 14px 8px 14px;
    outline: none;
    border: none;
    transition: all 0.25s ease-in-out;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    min-height: 40px;
    min-width: 40px;
}

.carousel-slider .carousel-next-btn:hover,
.carousel-slider .carousel-prev-btn:hover {
    background-color: black;
    cursor: pointer;
}

.carousel-slider .carousel-next-btn {
    position: absolute;
    right: 0;
}

.carousel-slider .carousel-prev-btn {
    position: absolute;
    left: 0;
}

.carousel-slider .carousel-pagination {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    opacity: 0;
    left: 0;
}

.carousel-slider .carousel-pagination.stick .item {
    border-radius: 17px;
    min-width: 30px;
    min-height: 5px !important;
    cursor: pointer;
    position: relative;
    top: -10px;
}

.carousel-slider .carousel-pagination .item {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.25s ease-in-out;
    color: white;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    margin: 5px;
}

.carousel-slider .carousel-pagination .active {
    background: rgba(255, 255, 255, 1);
}

.carousel-slider .carousel-pagination .item:hover {
    background-color: rgb(173, 173, 173);
}

.carousel-slider:hover .carousel-next-btn,
.carousel-slider:hover .carousel-prev-btn,
.carousel-slider:hover .carousel-pagination {
    opacity: 1;
}