
.content{
width:1200px;
margin: auto;
color: #fff;
height: auto;
position: relative;}

.content .par{
margin-top: 100px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 30px ;
text-align: center;
}
.content h1{
font-family:'Times New Roman', Times, serif;
font-size: 50px;
padding-left: 20px;
margin-top: 10%;
margin-left: 200px;
letter-spacing: 2px;
 }
.content .cn {
    width:160px;
    height:40px;
    background:pink;
    border:none;
    margin-bottom: 10px;
    margin-left:20px;
    font-size: 18px;
    border-radius:10px;
    cursor: pointer;
    transition:.3s ease;


}
.content .par{
padding-left: 0px;
margin-top: 20px;
padding-bottom:20px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 30px ;
}
.content .cn a{
    text-decoration:none;
    color:#000;
    transition :.3s ease;

}
.cn :hover{
    background-color:#fff;
}
.content span{
    color:rgb(252, 238, 240);
    font-size:60px;
    margin-left: -100px;
  
}
.form .inp input{
    width:240px ;
    height:35px;
    background:white;
  border-radius: 20px;
    color:rgb(2, 1, 1);
    letter-spacing:1px;
    margin-top:30px;
    margin-left: 550px;
    font-family: sans-serif;
}

.image{
    margin-top: 10px;
   padding-left: 850px;
}
h2{
margin-top: -50px;
   margin-left:80px;
  color: white;
 
}
.logo img{
    margin-top: -10px;
padding:1%;
width: 70px;

}