
.cd {
    padding-top: 30px;
    margin-bottom: 100px;
    padding-left: 0;
}

.cadre {
    background-color: rgb(234 234 255 / 83%);
    margin: auto;
    padding:20px 30px 50px;
    width:80%
}

.scrollable-table {
    overflow-y:scroll;
}
/* width */
.scrollable-table::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .scrollable-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .scrollable-table::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

#table_ {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 20px;
}

#table_ > thead {
    border-bottom: 2px solid rgb(206, 140, 41);
    color:rgb(206, 140, 41);
    font-weight: bold;
    height:30px;
}

#table_ > tbody tr:first-child td {
    padding-top: 7px;
  }

.table_header {
    font-weight: bold;
}

td {
    height:40px
}

.cadre_header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px
}

.drop_form {
    height: 35px;
    margin-top: 20px;
    border: 3px solid #B1740F;
}

#inscription_select {
    width: 97px
}

#search_filter_form {
    width: 128px;
}

.lab_in_txt{
    height: 20px;
    width: 160px;
    margin-left: 10px;
    /* border-top: 0px; */
    /* border-left:0px ; */
    /* border-right:0px ; */
}

.link_ref {
    font-size: 15px;
    display:block;
}

.link_ref:hover {
    background-color: #c4c3ff;
}