
.cd {
    padding-top: 30px;
    margin-bottom: 100px;
    padding-left: 0;
}

.cadre {
    position: relative;
    background-color: white;
    margin: auto;
    padding:20px 30px 50px;
    width:80%
}

.scrollable-table {
    overflow-y:scroll;
}
/* width */
.scrollable-table::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .scrollable-table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .scrollable-table::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

#table_ {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 20px;
}

#table_ > thead {
    border-bottom: 2px solid rgb(206, 140, 41);
    color:rgb(206, 140, 41);
    font-weight: bold;
    height:30px;
}

#table_ > tbody:not(.unpadded):before {
    /* margin-top: 5px; */
    line-height:0.1em; content:"\200C"; display:block;
}

.table_header {
    font-weight: bold;
}

td {
    height:40px
}

.cadre_header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px
}

.drop_form {
    height: 35px;
    margin-top: 20px;
    border: 3px solid #B1740F;
}

#inscription_select {
    width: 97px
}

#search_filter_form {
    width: 128px;
}

.lab_in_txt{
    height: 20px;
    width: 160px;
    margin-left: 10px;
    /* border-top: 0px; */
    /* border-left:0px ; */
    /* border-right:0px ; */
}

.link_ref {
    font-size: 15px;
    display:block;
}

.link_ref:hover {
    background-color: #c4c3ff;
}

.cadre .navigation_btns {
    position: absolute;
    bottom: 20px;
    width: 94%;
}
.navigation_btns {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px
}
.navigation_btns button {
    font-size: 17px;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    color: black;
}
  
.navigation_btns button:hover {
    background-color: #ddd;
    color: black;
}

.navigation_btns > button:disabled {
    background-color: #dadada;
    /* color: black; */
}
  
.navigation_btns .round {
    border-radius: 50%;
}


